
.introduction{
    background: url(/assets/background.jpg);
    height: 400px;
    width: 100%;
    margin-top: 0px;
    color: whitesmoke;

}

.name{
    text-align: center;
    padding-top: 5px;
}
.name1{
    color:#ad145762;
    text-shadow: 1px 1px whitesmoke;
    
}
.menu{
  
    /* background-color: whitesmoke; */
    /* opacity: 0.9; */
    color:#ad145762;
    text-shadow: 1px 1px whitesmoke;
    height: 50px;
}
.list{
    display: flex;
    flex-direction: row;
    margin-top: -20px;
}
h4{
    padding-top: 12px;
   
}
.about{
    margin-left: 400px;

}
.education{
    margin-left: 100px;
}
.skills{
    margin-left: 100px;
}
.vision{
    margin-left: 100px;
}
.hobbies{
    margin-left: 100px;
}
.contacts{
    margin-left: 100px;
}












    
