
.introduction{
    background: url("../assets/background.jpg");
    /* background-color: aqua; */
    height: 600px;
    width: 100%;
    margin-top: 0px;
    color: whitesmoke;

}
h1{
    margin-top: 10px;
}

.name{
    text-align: center;
    padding-top: 10px;
}
.name1{
    color:#ad145762;
    text-shadow: 1px 1px whitesmoke;
    
}
.menu{
  display: flex;
  height: 3rem;
  justify-content: space-between;
  /* background-color: blueviolet; */
    
}
.menu ul{
    display: flex;
    float: right;
   
}
.menu li{
    display: flex;
    margin-top: 10px;
    
}
.menu ul li{
    display: flex;
    flex-direction: row;
    margin: 10px 5rem; 
}
.menu ul li a{
    text-decoration: none;
    color: whitesmoke;
}
.menu ul li a:hover{
    cursor: pointer;
    color: #7F2D41;
    transition: 03s ease;
}


.list{
    display: flex;
    flex-direction: row;
    margin-top: -20px;
}
h2{
    color: #ad145762;
    text-shadow: 1px 1px whitesmoke;
}
h4{
    padding-top: 12px;
   
}
.home{
    margin-left: 600px;

}
.about{
    margin-left: 100px;
}

.skill{
    margin-left: 100px;
}
.title{
    text-align: center;
}

.contacts{
    margin-left: 100px;
}
.info{
    margin-left: 20px;
}
.information{
    margin-top: 100px;
}
#halima{
    display: flex;
    flex-direction: row;
    margin-top: -150px;
    margin-left: 800px;
    
    border-radius: 20px 20px;
}
#halima img{
    border-radius: 50%;
    margin-top: -5rem;
    border: 3px 3px whitesmoke;
}
.aboutme{
    height: 320px;
    width: 100%;
    background-color: whitesmoke;
    color: #7F2D41;
    margin-top: -5px;
    box-shadow: 2px 1px #ad145762;
   
    /* display: flex;
    flex-direction: row; */
}
.me{
    text-align: center;
}

.indepth{
   margin-top: 20px;
   margin-left: 50px;
   /* display: flex;
   flex-direction: row; */
  
}
.abt-image{
    display: flex;
    flex-direction: row;
}
#halima2 img{
    border-radius: 50%;
    margin-top: 0.5rem;
    border: 3px 3px whitesmoke;
}
.skills{
    height: 600px;
    width: auto;
    background: url("../assets/background.jpg");
    color: whitesmoke;
    /* margin-left: 50px; */
}
.projects{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
}
.webs{
    text-align: center;
}
.project1{
    margin-left: 100px;
}

.project2{
    margin-left: 100px;
}
.project3{
    margin-left: 100px;
}
#project1 img{
    border-radius: 50%;

}
#project2 img{
    border-radius: 50%;
}
#project3 img{
    border-radius: 50%;
}
.socialmedia{
    display: flex;
    flex-direction: row;
    margin-left: 70px;
}
.facebook{
margin-left: 70px;
color: #7F2D41;
}
.linked{
    margin-left: 70px;
    color: #7F2D41;
}
.twitter{
    margin-left: 70px;
    color: #7F2D41;
}
.phone{
margin-left: 70px;
color: #7F2D41;
}
.email{
margin-left: 70px;
color: #7F2D41;
}
.social{
 color: #ad145762;
 text-align: center;    
}
.footer{
    background: url("../assets/background.jpg");
    height: 30px;
    width: 100%;
}
.copyright{
    text-align: center;
    color: whitesmoke;
}











    
