
.introduction{
    background: url(/assets/background.jpg);
    height: 600px;
    width: 100%;
    margin-top: 0px;
    color: whitesmoke;

}
h1{
    margin-top: 10px;
}

.name{
    text-align: center;
    padding-top: 10px;
}
.name1{
    color:#ad145762;
    text-shadow: 1px 1px whitesmoke;
    
}
.menu{
  
    /* background-color: whitesmoke; */
    /* opacity: 0.9; */
    color:#ad145762;
    text-shadow: 1px 1px whitesmoke;
    height: 50px;
}
.list{
    display: flex;
    flex-direction: row;
    margin-top: -20px;
}
h2{
    color: #ad145762;
    text-shadow: 1px 1px whitesmoke;
}
h4{
    padding-top: 12px;
   
}
.home{
    margin-left: 600px;

}
.about{
    margin-left: 100px;
}

.skill{
    margin-left: 100px;
}

.contacts{
    margin-left: 100px;
}
.info{
    margin-left: 20px;
}
.information{
    margin-top: 100px;
}
#halima{
    display: flex;
    flex-direction: row;
    margin-top: -150px;
    margin-left: 800px;
    border: 3px 3px whitesmoke;
    border-radius: 20px 20px;
}
.aboutme{
    height: 270px;
    width: 100%;
    background-color: whitesmoke;
    color: #7F2D41;
    margin-top: -5px;
    box-shadow: 2px 1px #ad145762;
   
    /* display: flex;
    flex-direction: row; */
}
#aboutme1{
    text-align: center;
}

.indepth{
   margin-top: 20px;
   margin-left: 50px;
   /* display: flex;
   flex-direction: row; */
  
}
.abt-image{
    display: flex;
    flex-direction: row;

}
.skills{
    height: 400px;
    width: auto;
    background: url(/assets/background.jpg);
    color: whitesmoke;
    /* margin-left: 50px; */
}
.projects{
    margin-left: 100px;
    display: flex;
    flex-direction: row;
}
.project1{
    margin-left: 100px;
}
.project2{
    margin-left: 100px;
}
.project3{
    margin-left: 100px;
}











    
